.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 10px;
  border: outset black;
  background-color: #2c2c34;
  border-radius: 5px;
}
.main-logo {
  font-size: 23px;
  color: white;
}
.nav-tabs {
  list-style-type: none;
}
.nav-tabs li {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  list-style-type: none;
}
.nav-tabs li a {
  text-decoration: none;
  color: #aeaeae;
  font-size: 20px;
}
.contact-me {
  background-color: #8ac4ff;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.contact-me a {
  text-decoration: none;
  color: black;
  font-weight: normal;
}
.about-me {
  display: flex;
  flex: 1;
  margin: 1rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: auto;
}
.matrices {
  display: flex;
  flex: 1;
  padding: 1rem;
  margin: 1rem;
  border: 2px solid black;
}
