.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 30px;
  margin: 0.5rem;
  width: 100%;
}
.nav-bar-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  padding: 1rem;
}
.about-me {
  display: flex;
  flex: 1;
  margin: 1rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: auto;
}
.matrices {
  display: flex;
  flex: 1;
  padding: 1rem;
  margin: 1rem;
  border: 2px solid black;
}
